{% extends "search.html" %}
{% block head %}


{% endblock %}
{% block torrents %}
<div class="categories">
  Torrent Categories:
</div>
<div class="categorylist">
{% for cat in categories %}
<div class="category">
  <a href="{{site_prefix}}cat/{{cat.name}}/0">{{cat.name}}</a>
</div>
{% endfor %}
</div>
<div class="uploads">Recently uploaded:</div>
<div class="uploaded">
    {% for torrent in torrents %}
    <div class="upload">
      <span><a href="{{site_prefix}}{{torrent.infoURL()}}">{{torrent.title}}</a></span>
      <span>(uploaded {{torrent.uploadDate()}})</span>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
