/* site level css */


#all {
    background-color: #eeeeee;
    display: flex;
    font-family: sans-serif;
}

#debug {
    visibility: hidden;
    align-self: flex-end;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#navbar {
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: fixed;
    box-shadow: 0px 1px 5px black;
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#upload {
    
}

#uploadform {
    padding: 3em;
}

#content {
    margin-top: 5em;
    margin-left: 25%;
    width: 50%;
}

img.logo {
    max-width: 24px;
    max-height: 24px;
}

#front {
    width: 100%;
}

#front > img {
    margin-left: 25%;
    margin-right: 25%;
}

input.search {
    width: 85%;
}
input.submit {
    width: 10%;
}

.navbaritem {
    padding-left: 5px;
    padding-right: 5px;
}

form.navbaritem {
    width: 100%;
    max-width: 700px;
}

.results {
}

.noresult {
    font-weight: bold;
    font-size: 2em;
}

.error {
    font-weight: bold;
    color: red;
}

.uploads {
    margin-top: 1em;
    margin-bottom: 1em;
}

.uploaded {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.upload {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.categorylist {
    display: flex;
    justify-content: space-between;
}

.files {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 1%;
    width: 100%;
}

.description {
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.2);
}

.fileslist {
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
