/* site level css */


#all {
    background-color: #eeeeee;
    display: flex;
    font-family: sans-serif;
}

#debug {
    align-self: flex-end;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#navbar {
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: fixed;
    box-shadow: 0px 1px 5px black;
    background-color: #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#upload {
    
}

#uploadform {
    padding: 3em;
}

#content {
    margin-top: 5em;
    margin-left: 25%;
    width: 50%;
}

img.logo {
    max-width: 24px;
    max-height: 24px;
}

#front {
    width: 100%;
}

#front > img {
    margin-left: 25%;
    margin-right: 25%;
}

input.search {
    width: 85%;
}
input.submit {
    width: 10%;
}

.navbaritem {
}

form.navbaritem {
    width: 100%;
    max-width: 700px;
}

.results {
}

.noresult {
    font-weight: bold;
    font-size: 2em;
}

.error {
    font-weight: bold;
    color: red;
}
